[submodule "apps/conduit"]
	path = apps/conduit
	url = https://github.com/gothinkster/react-redux-realworld-example-app.git
	branch = master
[submodule "apps/react-hn"]
	path = apps/react-hn
	url = https://github.com/insin/react-hn.git
	branch = master
[submodule "apps/flatris"]
	path = apps/flatris
	url = https://github.com/skidding/flatris.git
	branch = master
[submodule "apps/sound-redux"]
	path = apps/sound-redux
	url = https://github.com/andrewngu/sound-redux.git
	branch = master
[submodule "apps/kitematic"]
	path = apps/kitematic
	url = https://github.com/docker/kitematic.git
	branch = master
[submodule "apps/wp-calypso"]
	path = apps/wp-calypso
	url = https://github.com/Automattic/wp-calypso.git
	branch = master
[submodule "apps/react-iTunes-search"]
	path = apps/react-iTunes-search
	url = https://github.com/LeoAJ/react-iTunes-search.git
	branch = master
[submodule "apps/sprintly-ui"]
	path = apps/sprintly-ui
	url = https://github.com/sprintly/sprintly-ui.git
	branch = master
[submodule "apps/dockunit-platform"]
	path = apps/dockunit-platform
	url = https://github.com/dockunit/platform.git
	branch = master
[submodule "apps/retro-board"]
	path = apps/retro-board
	url = https://github.com/antoinejaussoin/retro-board.git
	branch = master
[submodule "apps/spectacle"]
	path = apps/spectacle
	url = https://github.com/FormidableLabs/spectacle.git
	branch = master
[submodule "apps/react-news"]
	path = apps/react-news
	url = https://github.com/echenley/react-news.git
	branch = master
[submodule "apps/mortgage"]
	path = apps/mortgage
	url = https://github.com/paulhoughton/mortgage.git
	branch = master
[submodule "apps/favesound-redux"]
	path = apps/favesound-redux
	url = https://github.com/rwieruch/favesound-redux.git
	branch = master
[submodule "apps/itsquiz-wall"]
	path = apps/itsquiz-wall
	url = https://github.com/WebbyLab/itsquiz-wall.git
	branch = master
[submodule "apps/react-photo-feed"]
	path = apps/react-photo-feed
	url = https://github.com/lkazberova/react-photo-feed.git
	branch = master
[submodule "apps/react-solitaire"]
	path = apps/react-solitaire
	url = https://github.com/pl12133/react-solitaire.git
	branch = master
[submodule "apps/isomorphic500"]
	path = apps/isomorphic500
	url = https://github.com/gpbl/isomorphic500.git
	branch = master
[submodule "apps/perseus"]
	path = apps/perseus
	url = https://github.com/Khan/perseus.git
	branch = master
[submodule "apps/react-calculator"]
	path = apps/react-calculator
	url = https://github.com/benoitvallon/react-native-nw-react-calculator.git
	branch = master
[submodule "apps/react-pomodoro"]
	path = apps/react-pomodoro
	url = https://github.com/afonsopacifer/react-pomodoro.git
	branch = master
[submodule "apps/do"]
	path = apps/do
	url = https://github.com/1ven/do.git
	branch = master
[submodule "apps/i-have-to-return-some-videotapes"]
	path = apps/i-have-to-return-some-videotapes
	url = https://github.com/stevenhauser/i-have-to-return-some-videotapes.git
	branch = master
[submodule "apps/react-yelp-clone"]
	path = apps/react-yelp-clone
	url = https://github.com/fullstackreact/react-yelp-clone.git
	branch = master
[submodule "apps/bobonroastprofile"]
	path = apps/bobonroastprofile
	url = https://github.com/project-bobon/bobonroastprofile.git
	branch = master
[submodule "apps/react-music"]
	path = apps/react-music
	url = https://github.com/FormidableLabs/react-music.git
	branch = master
[submodule "apps/react-trello-board"]
	path = apps/react-trello-board
	url = https://github.com/web-pal/react-trello-board.git
	branch = master
[submodule "apps/react-tetris"]
	path = apps/react-tetris
	url = https://github.com/chvin/react-tetris.git
	branch = master
[submodule "apps/debugger.html"]
	path = apps/debugger.html
	url = https://github.com/devtools-html/debugger.html.git
	branch = master
[submodule "apps/illustrated-algorithms"]
	path = apps/illustrated-algorithms
	url = https://github.com/skidding/illustrated-algorithms.git
	branch = master
[submodule "apps/reactjs-tmdb-app"]
	path = apps/reactjs-tmdb-app
	url = https://github.com/SKempin/reactjs-tmdb-app.git
	branch = master
[submodule "apps/lifequote"]
	path = apps/lifequote
	url = https://github.com/insin/lifequote.git
	branch = master
[submodule "apps/dribble-demo"]
	path = apps/dribble-demo
	url = https://github.com/afghl/dribble-demo.git
	branch = master
[submodule "apps/refire-forum"]
	path = apps/refire-forum
	url = https://github.com/hoppula/refire-forum.git
	branch = master
[submodule "apps/dripr-ui"]
	path = apps/dripr-ui
	url = https://github.com/DevAlien/dripr-ui.git
	branch = master
[submodule "apps/invoice-frontend"]
	path = apps/invoice-frontend
	url = https://github.com/koodilehto/invoice-frontend.git
	branch = master
[submodule "apps/torontojs.com"]
	path = apps/torontojs.com
	url = https://github.com/torontojs/torontojs.com.git
	branch = master
[submodule "apps/guesstimate-app"]
	path = apps/guesstimate-app
	url = https://github.com/getguesstimate/guesstimate-app.git
	branch = master
[submodule "apps/plant"]
	path = apps/plant
	url = https://github.com/guyellis/plant.git
	branch = master
[submodule "apps/hyper"]
	path = apps/hyper
	url = https://github.com/zeit/hyper.git
	branch = master
[submodule "apps/ritoplz"]
	path = apps/ritoplz
	url = https://github.com/ritoplz/ritoplz.git
	branch = master
[submodule "apps/serverless-site"]
	path = apps/serverless-site
	url = https://github.com/serverless/site.git
	branch = master
[submodule "apps/english-accents-map"]
	path = apps/english-accents-map
	url = https://github.com/ismaelgt/english-accents-map.git
	branch = master
[submodule "apps/favesound-mobx"]
	path = apps/favesound-mobx
	url = https://github.com/rwieruch/favesound-mobx
	branch = master
[submodule "apps/react-transmission"]
	path = apps/react-transmission
	url = https://github.com/fcsonline/react-transmission.git
	branch = master
[submodule "apps/mortgage-mobx"]
	path = apps/mortgage-mobx
	url = https://github.com/paulhoughton/mortgage-mobx.git
	branch = master
[submodule "apps/flex-editor"]
	path = apps/flex-editor
	url = https://github.com/limichange/flex-editor.git
	branch = master
[submodule "apps/winamp2-js"]
	path = apps/winamp2-js
	url = https://github.com/captbaritone/winamp2-js.git
	branch = master
[submodule "apps/franchise"]
	path = apps/franchise
	url = https://github.com/HVF/franchise.git
	branch = master
[submodule "apps/foodprocessor"]
	path = apps/foodprocessor
	url = https://github.com/pearofducks/foodprocessor.git
	branch = master
[submodule "apps/kratelabs-app"]
	path = apps/kratelabs-app
	url = https://github.com/KrateLabs/KrateLabs-App.git
	branch = master
